/* Début Navbar */

.profil-annonce-menu {
    color: #00450B;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    height: 90px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: #073763;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 3rem;
    color: gold;
    font-family: Chalkduster, fantasy
}

.navbar .btnMonCompte {
    font-size: 1.5rem;
    width: auto;
    padding-left: 12px;
    color: #073763;
    background-color: #F1C232;
    font-family: Chalkduster, fantasy;
}

.card-list-group {
    width: 100px;
    height: 80px;
    background-color: rgb(0, 55, 255);
}

.card-list-group .list-group-item {
    border: none;
    font-size: 14px;
    padding: 5px;
}

.navbar .navbar-nav {
    margin-right: 5px;
    margin-left: auto;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

.card-list-group {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 30px;
    border: 3px solid #073763;
    margin-right: 20px; 
    margin-top: 9px;
    width: 110px;
    height: 100px;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media screen and (min-width: 768px) {
    
    .navbar {
        padding: 0 50px;
    }
}

/* Fin NavBar */

 /*Debut Login*/

 .card-login-body
 {
   background-color: #E1EBF5;
   border-radius: 10px;
   border: 5px solid #073763;
   overflow: hidden;
   width: 350px;
   height: auto;
   border-radius: 50px;
   padding-bottom: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .card-login-title
 {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   color: #073763;
   font-family: Chalkduster, fantasy;
   font-weight: bold;
   padding-top: 30px;
   font-size: 25px;
 }

 .form-login-container .form-group {
  width: 100%; /* Ajuste la largeur à 100% pour occuper la largeur totale */
  margin-bottom: 15px; /* Ajuste l'espacement en bas */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login-container {
  width: 100%; /* Ajuste la largeur à 100% pour occuper la largeur totale */
  padding: 10px;
}

.form-login-container .form-control {
  height: 50px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin: 10px auto;
}

.form-login-container .button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%; /* Ajuste la largeur à 100% pour occuper la largeur totale */
  margin: 10px auto;
}

.form-login-container .button-login .btn-login {
  height: 50px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: Chalkduster, fantasy;
  width: 175px; /* Ajuste la largeur à 100% pour occuper la largeur totale */
  font-size: 15px;
  /*margin-top: 10px;*/
}


 .error-signalement {
  width: 300px; /* Prend la largeur totale du parent (card-login-body) */
  margin: 15px auto; /* Centre la div en termes de largeur et ajoute un espacement en haut et en bas */
  color: #990000;
  height: 50px;
  border-radius: 30px; 
  background-color: #F4CCCC;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /*Fin Login*/



/*Debut Register*/

  .card-register-body
  {
    background-color: #E1EBF5;
    border-radius: 50px;
    border: 5px solid #073763;
    overflow: hidden;
    width: 350px;
    min-height: 550px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-register-title
  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #073763;
    font-family: Chalkduster, fantasy;
    font-weight: bold;
    padding-top: 30px;
    font-size: 25px;
  }

  .form-register-container .form-group
  {
    width: 300px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .form-register-container 
  {
    width: 344px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-register-container .form-control {
    height: 50px;
    border: 3px solid #073763;
    border-radius: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }

  .form-register-container .button-register
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    margin-top: -10px;
  }

  .form-register-container .button-register .btn-register {
    height: 60px;
    border-radius: 30px; 
    color: gold;
    background-color: #073763;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 150px;
    font-size: 15px;
    font-family: Chalkduster, fantasy;
    /*margin-top: 10px;*/
  }

  .form-group.form-input-spacing {
    position: relative;
  }

  .form-group.form-input-spacing input {
      width: 100%;
  }

  .alert.alert-danger {
      margin-top: 5px;
      font-size: 12px;
      color: #073763; 
      width: 300px;
      border-radius: 25px;
      width: 300px;
  }

  .password-help 
  {
    font-size: 13px;
    font-weight: bold;
    width: 300px;
    margin-top: 5px;
    border: 2px solid #073763;
    border-radius: 30px;
    height: auto;
    padding: 12px;
    background-color: rgb(255, 255, 208);
  }

  .alert-haut-page
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


/*Fin Regster*/



/*Debut Home*/

.citation-card-body 
{
    margin-top: 200px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 5px solid #073763;
    width: 800px;
    max-height: 600px;
    min-height: auto;
    background-color: #E1EBF5;
    margin-bottom: 50px;
}

.grid-container {
  display: flex;
}


.trading-view {
  display: flex;
  align-items: flex-start; /* Ajuster selon les besoins */
}

.trading-view-2 {
  display: flex;
  align-items: flex-start; /* Ajuster selon les besoins */
}


.filter-chart {
  background-color: #E1EBF5;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  border: 5px solid #073763;
  border-radius: 50px;
}

.my-chart-canvas {
  margin-top: 50px;
  margin-left: auto;
  border-radius: 50px;
  border: 5px solid #073763;
  width: 520px;
  height: 260px;
  background-color: #E1EBF5;
  position: relative;
}

.filter-chart {
  margin-top: 50px;
  background-color: #E1EBF5;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  border: 5px solid #073763;
  border-radius: 50px;
}

.my-chart-canvas {
  margin-top: 50px;
  margin-left: auto;
  border-radius: 50px;
  border: 5px solid #073763;
  max-width: 520px;
  max-height: 260px;
  background-color: #E1EBF5;
  position: relative;
  flex: 0 0 auto; /* Empêche le composant graphique de s'étendre */
}


.filter-chart {
  background-color: #E1EBF5;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  border: 5px solid #073763;
  border-radius: 50px;
}

.my-chart-canvas {
  margin-top: 50px;
  margin-left: auto;
  border-radius: 50px;
  border: 5px solid #073763;
  width: 520px;
  height: 260px;
  background-color: #E1EBF5;
  position: relative;
  flex: 0 0 auto; /* Empêche le composant graphique de s'étendre */
}

.new-table-div
{
  max-height: 600px;
  position: relative;
}


.table-trade {
  background-color: #E1EBF5;
  border-radius: 25px;
  width: 800px;
  /*min-height: auto;*/
  
}


.table-trade {
  background-color: #E1EBF5;
  width: 800px;
  overflow: hidden;
  border-radius: 50px;
}


.table-trade th 
{
    font-family: Chalkduster, fantasy;
    padding: 12px;
    justify-content: center;
    font-size: 10px;
}

.table-trade td 
{
    padding: 10px;
    justify-content: center;
    font-size: 10px;
}


.resultats-red {
    background-color: #f4cccc;
    color: #990000;
  }
  
  .resultats-green {
    background-color: #d9ead3;
    color: #274E13; 
  }
  
  .resultats-yellow {
    background-color: #fff2cc;
    color: #7F6000;
  }

  .les-deux 
  {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-container
  {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 5px solid #073763;
    width: 1250px;
    height: 75px;
    background-color: #E1EBF5;
  }

  .form-trade-card
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    border-radius: 50px;
    border: 5px solid #073763;
    width: 425px;
    min-height: 525px;
    background-color: #E1EBF5;
    position: relative;
  }

  .sub-navbar-button
  {
    height: 50px;
    border-radius: 30px; 
    color: gold;
    background-color:#073763;
    border: none;
    font-family: Chalkduster, fantasy;
    width: 210px;
    font-size: 15px;
    margin-right: auto;
    margin-left: 9px;
  }

  .actif-form-select 
  {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 40px;
    border-radius: 30px; 
    color: gold;
    background-color: #073763;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 150px;
    font-size: 17px;
    font-family: Chalkduster, fantasy;
    text-align: center;
}

.timeframe-form-select
{
  position: absolute;
  top: 75px;
  left: 15px;
  height: 40px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: 'Inter', sans-serif;
  width: 150px;
  font-size: 17px;
  font-family: Chalkduster, fantasy;
  text-align: center;
}

.type-ordre-form-select
{
  position: absolute;
  top: 135px;
  left: 15px;
  height: 40px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: 'Inter', sans-serif;
  min-width: 150px;
  font-size: 17px;
  font-family: Chalkduster, fantasy;
  text-align: center;
}


.strategie-form-select
{
  position: absolute;
  top: 195px;
  left: 15px;
  height: 40px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: 'Inter', sans-serif;
  min-width: 150px;
  font-size: 17px;
  font-family: Chalkduster, fantasy;
  text-align: center;
}

.date-entree-form-input
{
  top: 200px;
  left: 700px;
  height: 40px;
  width: 150px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.date-sortie-form-input
{
  top: 200px;
  left: 500px;
  height: 40px;
  width: 150px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.date-statement {
  position: relative;
  left: 115px;
  top: -150px;
  font-family: Chalkduster, fantasy;
  font-size: 10px;
  
}

.situation-form-select 
{
    position: absolute;
    top: 375px;
    left: 15px;
    height: 40px;
    border-radius: 30px; 
    color: gold;
    background-color: #073763;
    border: none;
    font-family: 'Inter', sans-serif;
    min-width: 150px;
    font-size: 17px;
    font-family: Chalkduster, fantasy;
    text-align: center;
}

.buy-sell-form-select
{
  position: absolute;
  top: 255px;
  left: 15px;
  height: 40px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: 'Inter', sans-serif;
  min-width: 150px;
  font-size: 17px;
  font-family: Chalkduster, fantasy;
  text-align: center;
}

.sl-tp-be-form-select
{
  position: absolute;
  top: 315px;
  left: 15px;
  height: 40px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: 'Inter', sans-serif;
  min-width: 150px;
  font-size: 17px;
  font-family: Chalkduster, fantasy;
  text-align: center;
}

.where-are-you 
{
  position: absolute;
  top: 450px;
  left: 215,5px;
  height: 40px;
  border-radius: 30px; 
  color: gold;
  background-color: #073763;
  border: none;
  font-family: 'Inter', sans-serif;
  min-width: 100px;
  font-size: 17px;
  font-family: Chalkduster, fantasy;
  text-align: center;
}

.resultatsstatement {
  position: relative;
  left: 115px;
  top: -150px;
  font-family: Chalkduster, fantasy;
  font-size: 10px;
  width: 100px;
  height: 100px;
}

.label-input {
  margin-bottom: 10px; /* Ajustez l'espacement entre le label et l'input selon vos besoins */
}

.PEInput {
  position: absolute;
  left: 0; 
  top: 8px;
  font-size: 10px;
  font-family: Chalkduster, fantasy;
  color: #073763;
}

.pe-form-input
{
  position: absolute;
  top:20px;
  left: 0px;
  height: 40px;
  width: 150px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.SLInput {
  position: absolute;
  left: 0; 
  top: 70px;
  font-size: 10px;
  font-family: Chalkduster, fantasy;
  color: #073763;
}

.sl-form-input
{
  position: absolute;
  top: 80px;
  left: 0;
  height: 40px;
  width: 150px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.TPInput {
  position: absolute;
  left: 0; 
  top: 130px;
  font-size: 10px;
  font-family: Chalkduster, fantasy;
  color: #073763;
}

.tp-form-input
{
  position: absolute;
  top: 140px;
  left: 0;
  height: 40px;
  width: 150px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.risque-form-input
{
  position: absolute;
  top: 315px;
  left: 250px;
  height: 40px;
  width: 75px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.profit-form-input
{
  position: absolute;
  top: 315px;
  left: 325px;
  height: 40px;
  width: 75px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.nb-pip-echap-pe-form-input
{
  position: absolute;
  top: 375px;
  left: 250px;
  height: 40px;
  width: 75px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.nb-pip-echap-tp-form-input
{
  position: absolute;
  top: 375px;
  left: 325px;
  height: 40px;
  width: 75px;
  border: 3px solid #073763;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.pagination {
  position: absolute;
  bottom: 0;
  width: 100%; /* Pour que la pagination prenne la largeur complète de new-table-div */
  height: 50px;
  margin-bottom: auto;
}


.pagination-thing {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 30px;
  border: none;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  min-width: 150px;
  font-size: 15px;
  text-align: center;
  display: flex;
  padding: 5px;
}

.pagination-thing .page-link {
  color: gold;
  background-color: #073763;
  border: none;
  padding: 8px;
  font-family: Chalkduster, fantasy;
  display: flex;
}

.pagination-thing .page-item.active .page-link {
  background-color: gold;
  border-color: #073763;
  color: #073763;
  display: flex;
  
}

.pagination-container.move-down {
  margin-top: 50px; /* Ajustez cette valeur en fonction de la distance que vous souhaitez déplacer vers le bas */
}
 
.is-not-logged {
  margin-top: 100px; /* Remplacez 100px par la hauteur exacte de votre navbar */
  width: 100vw; /* Occupe la totalité de la largeur de l'écran */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligne le bloc à l'extrême droite horizontalement */
  text-align: center;
  height: 100vh;
  background-color: #9FC5E8;
}

.image-container {
  margin-left: 0; /* Tu peux ajuster la marge à gauche ici */
}

.is-not-logged img {
  width: 100%; /* Ajuste la largeur de l'image pour qu'elle s'arrête avant la bordure gauche */
}

.card-img-top {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 0; /* Supprime toute bordure */
}

.action-to-do 
{
  margin-right: auto;
  font-size: 10px;
  color: #333;
  font-family: Chalkduster, fantasy;
  left: 0;
  width: 125px;
  margin-left: 30px;
  margin-top: -583px;
  border: 3px solid #073763;
  border-radius: 25px;
  padding: 10px;
  background-color: #ffffff;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ou la hauteur que vous souhaitez */
}

.scaled-spinner {
  transform: scale(4); /* Ajustez la valeur de l'échelle selon vos besoins */
}

/*Fin Home*/
  


